.screen {
    width: 100%;
    height: 100vh;
    /* background-color: #F9F2E1; */
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 64px 64px;
}

.landingContainer {
    display: flex;
    border-style: solid;
    border-width: 3px;
    width: 60%;
    height: 72vh;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 36px;
    box-shadow: 10px 12px 0px 15px;
    background-color: white;
}

.landingContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.landingHeadline {
    font-size: 7vw;
    font-family: 'Oi';
}

.landingHeadlineMyName {
    font-size: 7vw;
    font-family: 'Petrona';
    font-style: italic;
}

.landingSecondLine {
    margin-top: -7%;
}

.landingSubheading {
    /* font-size: 2vw; */
    font-size:calc(16px + 1.2vw);
    font-family: 'Petrona';
    text-align: center;
    display: flex;
    margin-top: -4%;
    margin-bottom: 4%;
    font-weight: lighter;
}

.landingSubHeadingText {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

.landingArrow {
    position: absolute;
    bottom: 3%;
    width: 100%;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
    font-size:calc(12px + 0.40vw);
    text-transform: uppercase;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
}

@-webkit-keyframes landingArrow {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
}