.screen {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* background-color: #F9F2E1; */
    /* background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 64px 64px; */
    /* border-bottom: solid; */
}

/* @media (max-height: 1000px) {
    .landingHeadline {
        font-size: 1vh;
    }
} */

.landingContainer {
  
    border-style: solid;
    border-width: 3px;
    width: 60%;
    /* height: 74vh; */
    padding-top: 11vh;
    padding-bottom: 6vh;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%; 
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 36px;
    box-shadow: 10px 12px 0px 15px;
    background-color: white;
}

.landingContainerV2 {
    border-style: solid;
    border-width: 3px;
    width: 60%;
    /* height: 74vh; */
    
    padding-top: 100px;
    margin-top: -120px;
    padding-bottom: 36px;
    justify-content: center;
    border-radius: 36px;
    box-shadow: 10px 12px 0px 15px;
    background-color: white;
    z-index: 0;
}

/* .landingContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
} */

.landingHeadline {
    font-size: min(400%, 9vw);
    font-family: 'Oi';
}

.landingHeadlineMyName {
    font-size: min(400%, 9vw);
    font-family: 'Petrona';
    font-style: italic;
}

.landingHeadlineMyName:hover {
    animation: color-change 2s infinite;
}

.letsChat:hover {
  animation: color-change 2s infinite;
}

.landingSecondLine {
    margin-top: max(-7%, -12vh);
}

.landingSubheading {
    /* font-size: 2vw; */
    font-size: min(150%, calc(16px + 1.2vw));
    /* font-size:calc(16px + 1.2vw); */
    /* font-family: 'Petrona'; */
    text-align: center;
    display: flex;
    margin-top: max(-4%, -8vh);
    margin-bottom: 3%;
    font-weight: bold;
}

.landingSubHeadingText {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

.landingArrow {
    position: absolute;
    bottom: 3%;
    width: 100%;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
    font-size:calc(12px + 0.40vw);
    text-transform: uppercase;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
}

@-webkit-keyframes landingArrow {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
}

.blob {
    position: absolute;
    top: 0px;
    left: 0px;
    
    overflow: hidden;
}



.hiddenimg {
    display: none;
  }

  
.hiddentxt:hover ~ .hiddenimg {
    
    display: block;
    position: absolute;
    top: 6%;
    left: 56%;
    /* z-index: 2; */
  }
  
.experiment {
    display: block;
    position: absolute;
    width: 40%;
    height: 616px;
    left: 45px;
    top: 466px;
    background: #FF007A;
    filter: blur(180px);
    z-index: 0;
    
}

.experiment2 {
    display: block;
    position: absolute;
width: 616px;
height: 616px;
left: 1112px;
top: -57px;

background: #4200FF;
filter: blur(180px);
z-index: 0;
}
  