:root {
  width: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle, blue 1px, rgba(0, 0, 0, 0) 1px);
}

html {
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  background-color: yellow;
  height: 100dvh;
  overflow: hidden;
}